<div class="row-fluid">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h1>@(resource.Id==-1? "Create resource" : "Update resource")</h1>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <EditForm Model="@resource" OnSubmit="FormSubmitted">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" required name="name" class="form-control" id="name" placeholder="enter your name" @bind-value="resource.Name">
                            </div>

                            <div class="form-group mb-4">
                                <label for="picture">Picture</label>
                                @if (resource.Picture != null)
                                {
                                    <img src="@resource.Picture" max-width="100" />
                                }
                                <input type="file" class="form-control-file" id="picture" >
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" name="description" @bind="resource.Description" required id="description" placeholder="Enter a description">
                                   
                                </textarea>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <h4>Date start</h4> <RadzenDatePicker TValue="DateTime?" Value="@(resource.DateStart?? "")" Change=@(args => resource.DateStart = args != null ?  args?.ToString("dd/MM/yyyy") : resource.DateStart) DateFormat="dd/MM/yyyy" />
                                </div>
                                <div class="col-md-6 col-12">
                                    <h4>Date end</h4> <RadzenDatePicker TValue="DateTime?" Value="@(resource.DateEnd?? "")" Change=@(args => resource.DateEnd = args != null ?  args?.ToString("dd/MM/yyyy") : resource.DateEnd) DateFormat="dd/MM/yyyy" />
                                </div>
                            </div>

                            <button type="submit" class="btn btn-outline-success mt-3">@(resource.Id==-1? "Create" : "Update")</button>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code { DateTime? value = DateTime.Now;
    [Parameter]
    public Resource resource { set; get; }

    void FormSubmitted(EditContext edit)
    {
        bool isValid = edit.Validate();

    }
}